$background: #fcfcfc;
$aside-background: #ffffff;
$font-family: 'Helvetica', sans-serif;
$title-font-family: 'Helvetica', sans-serif;
$active-color: #ff0000;
$inactive-color: #666666;
$text-color: #333333;
