<html>
  <head>
    <title>Add new apple!</title>
  </head>
  <body>
    <h1>Add new apple!</h1>
    <hr />
    <form action="/apples" method="POST"> <!-- POST /apples = app.post("/apples", ...) -->
      <p>
        <strong>Apple type:</strong>
        <input type="text" name="type" />
      </p>
      <p>
        <strong>Apple color:</strong>
        <input type="text" name="color" />
      </p>
      <p>
        <input type="submit" value="Go!" />
      </p>
    </form>
    <p>
      <a href="/apples">Back to list of apples</a>
    </p>
  </body>
</html>
