<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <h1>Hello there!</h1>
    <h2>Let's create an account for you!</h2>

    <form method="POST" action="/signup">
      <p>
        <label>Username</label>
        <input type="text" name="username" />
      </p>
      <p>
        <label>Password</label>
        <input type="password" name="password" />
      </p>
      <p>
        <input type="submit" name="Signup" value="Create Account"/>
      </p>
    </form>

  </body>
</html>
