<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="padding:40px;">
  <% include ../partials/_header %>

  <h2>New TODO</h2>
  <form class="form" action="/todos" method="post">
    <label for="name">Description:</label>
    <input id="desc" type="text" name="desc" placeholder="Wacha doin?" style="width: 300px">
    <input type="submit" value="Submit" class="btn">
  </form>
</body>
</html>
