
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <h1>Hello there, <%= current_user %>!</h1>

    <img src="http://www.treasurenet.com/forums/attachment.php?attachmentid=99455&stc=1&d=1332397658">

  </body>
</html>
