$spacing: 20px;

$container-width: 414px;
$header-height: 347px;

$font-main: Raleway, sans-serif;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

$font-color-dark: #2C3E50;
$font-color-light: #ECF0F1;