<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <h1>Hello there!</h1>
    <h2>Please log in to this most amazing website!</h2>

    <form method="POST" action="/login">
      <p>
        <label>Username</label>
        <input type="text" name="username" />
      </p>
      <p>
        <label>Password</label>
        <input type="password" name="password" />
      </p>
      <p>
        <input type="submit" name="Login" value="Login"/>
      </p>
    </form>

    <p>
      Don't have an account? <a href="/signup">Signup!</a>
    </p>

  </body>
</html>
