<html>
  <head>
    <title>Houses!</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Famous houses</h1>

    <nav>
      <ul>
        <li>
          <a href="#">Dr. House</a>
        </li>
        <li>
          <a href="#">Maxwell House</a>
        </li>
        <li>
          <a href="#">House Targaryen</a>
        </li>
        <li>
          <a href="#">Deep House</a>
        </li>
      </ul>
    </nav>

    <article>
      <header>
        <h2>My article on Dr. House</h2>
      </header>
      <p>
        Live-edge hammock raclette, DIY whatever synth cray iPhone crucifix shoreditch messenger bag you probably haven't heard of them. Poutine intelligentsia try-hard artisan shoreditch umami. Tattooed YOLO you probably haven't heard of them, cloud bread vexillologist neutra poutine XOXO twee. Try-hard ramps shoreditch, semiotics bitters chambray cronut banh mi church-key. Twee irony franzen kitsch, chia subway tile narwhal gastropub shaman adaptogen. Meditation etsy sriracha distillery flannel migas raw denim selfies small batch craft beer vegan. Tilde chillwave drinking vinegar lyft. Cliche keytar sustainable hexagon vice. Venmo scenester cloud bread gastropub, unicorn selfies lumbersexual roof party mumblecore polaroid echo park vinyl salvia knausgaard. Whatever vice venmo pop-up chillwave. Literally snackwave fingerstache tilde. Narwhal literally deep v slow-carb, vice semiotics vaporware adaptogen butcher bushwick banjo glossier.
      </p>
      <aside>
        <h3>What about House Harkonnen?</h3>
        <p>
          Haxx0r ipsum linux L0phtCrack sql lib bin *.* gnu hash ifdef stack firewall xss echo man pages emacs bit boolean terminal bang packet sniffer. Wannabee tera syn ddos sudo port semaphore interpreter fopen win gc perl suitably small values. Unix if afk I'm sorry Dave, I'm afraid I can't do that ack case float /dev/null.
        </p>
      </aside>
      <p>
        Polaroid heirloom occupy glossier affogato salvia green juice vinyl poke tumblr whatever copper mug crucifix. Banh mi humblebrag meh live-edge, adaptogen mlkshk echo park hell of poke four dollar toast lomo single-origin coffee hammock master cleanse hot chicken. Hashtag banh mi microdosing keytar. Kombucha keffiyeh locavore cardigan shoreditch flexitarian jean shorts edison bulb. Tacos VHS pabst pitchfork tousled. Scenester poutine lomo post-ironic, offal sustainable enamel pin normcore williamsburg skateboard stumptown venmo taxidermy. Hoodie butcher ethical shaman jianbing mixtape. Craft beer hot chicken tumeric ennui raw denim pok pok chartreuse franzen next level fam man braid. Knausgaard disrupt shaman whatever pinterest franzen fanny pack green juice chillwave man braid four loko gluten-free distillery. Pok pok beard try-hard meh mustache, VHS kale chips austin food truck normcore sartorial. Banjo pickled thundercats affogato, sriracha locavore bicycle rights bitters knausgaard pabst flexitarian blog slow-carb raw denim. Austin cray mixtape chillwave jianbing, umami quinoa plaid godard banjo vice. Hammock thundercats godard cray kombucha.
      </p>
      <p>
        90's chambray poke, gluten-free portland tbh lumbersexual butcher shoreditch tofu cred waistcoat health goth organic. Lo-fi trust fund selfies ramps cray. Letterpress man braid hoodie beard jianbing before they sold out deep v scenester williamsburg blog typewriter art party. Sriracha dreamcatcher vegan blog brooklyn truffaut hashtag sustainable everyday carry before they sold out yuccie disrupt drinking vinegar. Biodiesel you probably haven't heard of them jean shorts cred DIY seitan freegan kickstarter crucifix fashion axe. Portland before they sold out neutra cold-pressed edison bulb put a bird on it. Next level raclette cliche, chillwave humblebrag salvia +1. Vape before they sold out pabst meh pok pok locavore, letterpress asymmetrical wolf irony trust fund kogi pork belly. Fingerstache portland photo booth, bespoke pop-up mixtape raw denim blue bottle messenger bag palo santo everyday carry hexagon. Offal butcher you probably haven't heard of them food truck, slow-carb taiyaki authentic chambray cardigan sartorial tumblr cronut street art schlitz literally. Adaptogen chartreuse kickstarter, portland austin flexitarian bicycle rights. Franzen tote bag vaporware chambray.
      </p>
      <footer>
        By Fabio Neves
      </footer>
    </article>

  </body>
</html>
