<!DOCTYPE html>
<html>
  <head>
    <title>The form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>A form!</h1>
    <form action="/form" method="POST">
      <p>Enter your username:</p>
      <input type="text" name="username" />
      <p>Enter your password:</p>
      <input type="password" name="password" />
      <p><input type="submit" value="Go!"/>
    </form>
  </body>
</html>
