<html>
  <head>
    <title>Hello!</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <h1>Typefaces</h1>

    <nav>
      <ul>
        <li>
          <a href="#">Serif</a>
        </li>
        <li>
          <a href="#">Sans-serif</a>
        </li>
        <li>
          <a href="#">Display</a>
        </li>
        <li>
          <a href="#">Grotesk</a>
        </li>
        <li>
          <a href="#">Gothic</a>
        </li>
      </ul>
    </nav>

    <main>

      <article>
        <header>
          <h2>Fonts are awesome</h2>
        </header>
        <section>
          <p>
            Lorem ipsum dolor amet iPhone blue bottle chartreuse palo santo woke cliche man bun kale chips organic, actually lumbersexual sustainable. Kale chips cardigan ugh pop-up mustache. Four loko mixtape ugh XOXO la croix. Tattooed pop-up drinking vinegar raw denim cardigan polaroid brooklyn tote bag jianbing viral. Tumblr pitchfork woke typewriter, small batch vice synth. Mustache thundercats aesthetic, subway tile cred +1 vinyl. Adaptogen synth street art aesthetic poke ramps lumbersexual kitsch.
          </p>
          <p>
            You probably haven't heard of them next level wolf art party activated charcoal normcore kombucha ennui chia offal mlkshk bicycle rights selfies enamel pin cronut. Artisan distillery hammock sustainable, chillwave poke farm-to-table occupy hoodie listicle. Succulents lomo vape unicorn try-hard venmo tumeric swag 90's, typewriter bitters woke farm-to-table. Chia authentic bicycle rights, before they sold out roof party vape shaman paleo semiotics. Pitchfork +1 taxidermy, shoreditch irony celiac succulents cray.
          </p>
          <p>
            Hot chicken kombucha four loko paleo, austin mumblecore venmo. Fanny pack sriracha meh, chambray vexillologist franzen shoreditch vegan shabby chic seitan retro vape celiac. Squid salvia marfa health goth succulents echo park mumblecore. Cronut deep v sartorial banjo flexitarian, locavore celiac activated charcoal kogi cred roof party organic. Cronut keytar direct trade aesthetic. Dreamcatcher hoodie health goth aesthetic letterpress pork belly scenester typewriter, wayfarers shaman hot chicken banjo skateboard knausgaard godard. Cloud bread cliche gentrify, skateboard letterpress asymmetrical narwhal bespoke retro austin tote bag typewriter aesthetic whatever.
          </p>
        </section>
        <footer>
          By John Smith, Feb 2 2018
        </footer>
      </article>

      <article>
        <header>
          <h2>Fonts are awesome</h2>
        </header>
        <section>
          <p>
            Lorem ipsum dolor amet iPhone blue bottle chartreuse palo santo woke cliche man bun kale chips organic, actually lumbersexual sustainable. Kale chips cardigan ugh pop-up mustache. Four loko mixtape ugh XOXO la croix. Tattooed pop-up drinking vinegar raw denim cardigan polaroid brooklyn tote bag jianbing viral. Tumblr pitchfork woke typewriter, small batch vice synth. Mustache thundercats aesthetic, subway tile cred +1 vinyl. Adaptogen synth street art aesthetic poke ramps lumbersexual kitsch.
          </p>
          <aside>
            <h3>By the way...</h3>
            <p>
              You probably haven't heard of them next level wolf art party activated charcoal normcore kombucha ennui chia offal mlkshk bicycle rights selfies enamel pin cronut. Artisan distillery hammock sustainable, chillwave poke farm-to-table occupy hoodie listicle. Succulents lomo vape unicorn try-hard venmo tumeric swag 90's, typewriter bitters woke farm-to-table. Chia authentic bicycle rights, before they sold out roof party vape shaman paleo semiotics. Pitchfork +1 taxidermy, shoreditch irony celiac succulents cray.
            </p>
          </aside>
          <p>
            Hot chicken kombucha four loko paleo, austin mumblecore venmo. Fanny pack sriracha meh, chambray vexillologist franzen shoreditch vegan shabby chic seitan retro vape celiac. Squid salvia marfa health goth succulents echo park mumblecore. Cronut deep v sartorial banjo flexitarian, locavore celiac activated charcoal kogi cred roof party organic. Cronut keytar direct trade aesthetic. Dreamcatcher hoodie health goth aesthetic letterpress pork belly scenester typewriter, wayfarers shaman hot chicken banjo skateboard knausgaard godard. Cloud bread cliche gentrify, skateboard letterpress asymmetrical narwhal bespoke retro austin tote bag typewriter aesthetic whatever.
          </p>
        </section>
        <footer>
          By John Smith, Feb 2 2018
        </footer>
      </article>
    </main>

  </body>
</html>
