<html>
  <head>
    <title>Hello!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Hello there!</h1>

    <nav>
      <ul>
        <li>
          <a href="#">Option!</a>
        </li>
        <li>
          <a href="#">Option too!</a>
        </li>
        <li>
          <a href="#">And another one...</a>
        </li>
      </ul>
    </nav>

    <section class="container">
      <article>
        <header>
          <h2>Hi there!</h2>
        </header>
        <p>
          Banjo flannel man braid pinterest. Neutra try-hard gochujang, trust fund plaid dreamcatcher knausgaard lyft portland sustainable leggings roof party poutine master cleanse stumptown. Slow-carb hoodie pug, austin humblebrag tofu fingerstache locavore blog scenester shoreditch mustache. You probably haven't heard of them normcore disrupt, bespoke stumptown slow-carb keytar glossier cornhole edison bulb snackwave fashion axe. Flexitarian kitsch taxidermy small batch green juice. Distillery man bun small batch shabby chic yuccie. Beard raw denim artisan, deep v taxidermy chartreuse cardigan ethical man braid tacos man bun aesthetic copper mug banh mi.
        </p>
      </article>
      <aside>
        <h4>This is also important</h4>
        <p>
          Fashion axe drinking vinegar brunch, gastropub intelligentsia fanny pack trust fund tbh hell of shabby chic. Chillwave tumeric slow-carb godard. Chia intelligentsia unicorn, direct trade skateboard chillwave chambray gastropub disrupt freegan.
        </p>
      </aside>
    </section>

  </body>
</html>
