<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="padding:40px;">
  <% include ../partials/_header %>

  <h2>Edit TODO</h2>
  <form class="form" action="/todos/<%= todo._id %>?_method=PUT" method="post">
    <label for="name">Description:</label>
    <input
      id="desc"
      type="text"
      name="desc"
      placeholder="Wacha doin?"
      style="width: 300px"
      value="<%= todo.desc %>"
    >
    <input
      id="priority"
      type="text"
      name="priority"
      style="width: 50px"
      value="<%= todo.priority %>"
    >
    <input type="submit" value="Submit" class="btn">
  </form>
</body>
</html>
