<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body style="padding:40px;">
    <% include ../partials/_header %>

    <a href="/todos/new" class="btn btn-primary">New Todo</a>
    <hr>

    <table class="table table-bordered table-striped">
      <% for (todo of todos) { %>
        <tr>
          <td><%= todo.desc %></td>
          <td><%= todo.completed ? 'Completed' : 'Incomplete' %></td>
          <td>
            <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
              <button class="btn btn-default">Delete &#128465;</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
