/* Your amazing styles here! */

@import url('https://fonts.googleapis.com/css?family=Oswald|Slabo+27px');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Slabo 27px', serif;
*/

body {
  font-family: 'Slabo 27px', 'Georgia', serif;
  margin: 100px 10%;
  font-size: 20px;
}

nav, h1, h2, h3, h4, h5 {
  font-family: 'Oswald', 'Impact', sans-serif;
}

nav {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  box-shadow: 3px 3px 11px 7px rgba(0,0,0, .1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

nav a:hover {
  color: white;
  background-color: black;
}

article {
  margin-bottom: 60px;
}

article header h2 {
  border-bottom: 1px solid #ddd;
}

article footer {
  border-top: 1px solid #eee;
  text-align: right;
  padding-top: 10px;
}

article img {
  display: inline-block;
  float: right;
  margin: 0 0 15px 15px;
  border-radius: 5%;
}

