<% include _header.ejs %>
    <form action="/login" method="POST">
      <p>
        <label for="email">Email:</label>
        <input type="text" name="email">
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </p>
      <p>
        <input type="submit" value="Go!">
      </p>
    </form>
<% include _footer.ejs %>
