<form method="POST" action="/login">
  <p>
    <label>Username</label>
    <input type="text" name="username" />
  </p>
  <p>
    <label>Password</label>
    <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" name="Login" value="Login"/>
  </p>

</form>

<p>
Don't have an account? <a href="/signup">Signup</a>
</p>
