<form method="POST" action="/signup">
  <p>
    <label>Username</label>
    <input type="text" name="username" />
  </p>
  <p>
    <label>Password</label>
    <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" name="Signup" value="Create Account"/>
  </p>

</form>
